header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--heightHeaderFooter);
  background-color: var(--colorPrimary);
  font-size: 2rem;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--colorHighlight);
  box-shadow: var(--shadowHeader);
}

.header-logo {
  height: 50%;
  margin: 0 1rem;
}

body[data-colorMode="light"] .logo-rainbow,
body[data-colorMode="dark"] .logo-rainbow {
  display: none;
}

body[data-colorMode="rainbow"] .logo-standard {
  display: none;
}
