*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --border: 1px solid grey;
  --highlightColor: #51d4e387;
  --borderRadius: 0.3rem;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-color: rgb(232, 229, 229);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.quizz_card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: var(--borderRadius);
  background-color: rgb(243, 242, 242);
}

.question {
  margin: 2rem 1rem;
}

.answerButton {
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: var(--borderRadius);
  border: none;
  background-color: rgb(254, 254, 254);
  box-shadow: var(--highlightColor) 0 0 10px 1px;
}

.answer {
  margin-bottom: 2rem;
  border: var(--border);
  width: 80%;
  padding: 2rem 0;
  border-radius: var(--borderRadius);
  display: none;
}

.tagbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.category {
  padding: 0.2rem 0.8rem;
  border-radius: var(--borderRadius);
  margin-right: 0.5rem;
  background-color: var(--highlightColor);
  margin-top: 3px;
}

.bookmark {
  position: absolute;
  top: -5px;
  right: 20px;
  height: 3rem;
  cursor: pointer;
}

footer {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 5px 10px;
  position: sticky;
  bottom: 0;
  background-color: #51d4e3;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.imgFooter {
  height: 95%;
}
