/* body[data-colorMode="light"] 
body[data-colorMode="dark"]
body[data-colorMode="rainbow"] */

body[data-colorMode="light"] .color__highlight,
body[data-colorMode="dark"] .color__highlight {
  color: var(--colorHighlight);
}

body[data-colorMode="rainbow"] .color__highlight {
  color: var(--colorHighlightRainbow);
}

body[data-colorMode="light"] .backgroundColor__highlight,
body[data-colorMode="dark"] .backgroundColor__highlight {
  background-color: var(--colorHighlight);
}

body[data-colorMode="rainbow"] .backgroundColor__highlight {
  background-color: var(--colorHighlightRainbow);
}

body[data-colorMode="light"] .color__primary {
  color: var(--colorPrimary);
}

body[data-colorMode="dark"] .color__primary,
body[data-colorMode="rainbow"] .color__primary {
  color: var(--colorPrimaryDark);
}

body[data-colorMode="light"] .backgroundColor__primary {
  background-color: var(--colorPrimary);
}

body[data-colorMode="dark"] .backgroundColor__primary,
body[data-colorMode="rainbow"] .backgroundColor__primary {
  background-color: var(--colorPrimaryDark);
}
