*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --border: 1px solid grey;
  --highlightColor: #51d4e387;
  --borderRadius: 0.5rem;
}

:focus {
  box-shadow: rgb(255, 106, 0) 0 0 2px 3px;
}

/* @media (min-width: 400px) {
  body {
    width: 500px;
    margin: 0 auto;
  }
} */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 4rem;
  background: linear-gradient(#00c1ff, #00546f);
  display: flex;
  align-items: center;
  font-size: 8vh;
  overflow: hidden;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
  position: sticky;
  top: 0;
  z-index: 1;
  color: rgb(255, 255, 255);
  box-shadow: #00536f9a 0 3px 20px 2px;
}

.quizz_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 3.05rem 1rem 1rem 1rem;
  border-radius: var(--borderRadius);
  background-color: rgb(243, 242, 242);
}

.boxQuestion,
.boxAnswer {
  background-color: white;
  width: 100%;
  padding: 1rem;
  border-radius: var(--borderRadius);
  color: #242424;
  display: flex;
  justify-content: center;
}

.boxQuestion {
  min-height: 9rem;
  margin-bottom: 1rem;
}

.boxAnswer {
  min-height: 5rem;
  margin-top: 1rem;
}

.answerButton {
  font-size: 1rem;
  border: none;
  box-shadow: #00536f56 0 0 10px 8px;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem 2.5rem;
  max-width: 300px;
  border-radius: var(--borderRadius);
}

.tagbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.category {
  padding: 0.2rem 0.8rem;
  border-radius: var(--borderRadius);
  margin-right: 0.5rem;
  background-color: white;
  color: #cf3737;
  font-size: 0.8rem;
}

.bookmark {
  position: absolute;
  top: -5px;
  right: 0.5rem;
  height: 3rem;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#00c1ff, #00546f);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  box-shadow: #00536f9a 0 -3px 20px 2px;
}

.linkNav {
  height: 3rem;
  display: flex;
  align-items: center;
}

.imgFooter {
  height: 70%;
}
