.profile--headline {
  color: var(--colorHighlight);
}

.profile--statistics,
.profile--settings,
.profile-newCard {
  margin-top: calc(1.5 * var(--gapStandard));
  margin-bottom: calc(1.5 * var(--gapStandard));
}

.profile--settingsColorModes {
  max-width: 20rem;
  min-width: 13rem;
  height: 2.2rem;
  background-color: white;
  box-shadow: var(--colorDark) 0 0 10px 2px, inset var(--colorDark) 0 1px 0 0,
    inset var(--colorDark) 0 -1px 0 0;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  position: relative;
}

.profile-settingsColorMode {
  width: 33%;
  text-decoration: none;
  color: rgb(21, 21, 21);
}

.slider {
  position: absolute;
  left: var(--left);
  width: 34%;
  height: 100%;
  border-radius: var(--borderRadius);
  box-shadow: inset var(--colorHighlight) 0 0 10px 3px,
    rgba(255, 255, 255, 0.612) 0 0 15px 5px inset, white 0 0 10px 2px;
  transition: 0.3s ease-out;
}

.profile {
  margin-top: 1rem;
}

.profile--sectionHeadline {
  color: var(--colorHighlight);
  margin-bottom: var(--gapStandard);
}

.profile--settingsColorModeHeadline {
  font-weight: normal;
  margin-bottom: var(--gapStandard);
  width: 100%;
}

.profile--newCardForm {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.profile--newCardForm textarea {
  resize: none;
}

.characterCounter {
  align-self: flex-end;
  font-size: 0.8rem;
}

.characterCounter-question,
.characterCounter-answer {
  color: green;
}

.profile--newCard-tagBox {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 5px;
  color: gray;
}

.profile--formNewCarlabel,
.profile--newCard-tagBox {
  margin-bottom: calc(0.5 * var(--gapStandard));
}

.newcardTagCheckbox {
  display: none;
}

.newcardTagCheckbox:checked + .newcardTagLabel {
  color: green;
}
