.cardStyle {
  background-color: var(--colorHighlight);
  border-radius: var(--borderRadius);
  margin-bottom: 1.5rem;
}

.card-bookmarkImgActive {
  display: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gapStandard);
  margin-bottom: calc(0.5 * var(--gapStandard));
}

.card-questionNumber {
  color: var(--colorBase);
  align-self: center;
  font-size: 1rem;
}

.card-bookmarkImg {
  height: 3rem;
  margin-top: -5px;
  cursor: pointer;
}

.card--isBookmarked .card-bookmarkImgInactive {
  display: none;
}

.card--isBookmarked .card-bookmarkImgActive {
  display: initial;
}

.cardSectionStyle {
  background-color: var(--colorTextBox);
  border-radius: var(--borderRadius);
  padding: calc(1.5 * var(--gapStandard)) var(--gapStandard);
  margin: 0 calc(1.5 * var(--gapStandard));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: var(--boxShadow);
}

.card-answerBox,
.card-tagBox {
  margin-bottom: var(--gapStandard);
}

.card-questionBox {
  margin-bottom: calc(2 * var(--gapStandard));
}

.card-questionText {
  margin-bottom: var(--gapStandard);
}

.card-answerText {
  color: var(--colorHighlight);
}

.card-button {
  padding: calc(0.5 * var(--gapStandard)) calc(2 * var(--gapStandard));
  margin-bottom: calc(-1.8 * var(--gapStandard));
  background-color: var(--colorTextBox);
  border: none;
  box-shadow: var(--colorDark) 0 0 10px 0, var(--boxShadow);
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: 0.05s;
  min-width: 10rem;
  transform: rotate(-1.5deg);
}
.card-button:active {
  transform: rotate(1.5deg);
}

.card-tagBox {
  display: flex;
  gap: calc(0.5 * var(--gapStandard));
  margin: 0 calc(1.5 * var(--gapStandard)) var(--gapStandard);
  flex-wrap: wrap;
}

.card-tag {
  background-color: var(--colorTextBox);
  padding: calc(0.25 * var(--gapStandard)) calc(0.5 * var(--gapStandard));
  font-size: 0.7rem;
  color: var(--colorHighlight);
  border-radius: calc(0.5 * var(--borderRadius));
  box-shadow: var(--boxShadow);
}
