.card {
  background-color: var(--colorHighlight);
  border-radius: var(--borderRadius);
  margin-bottom: 1.5rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gapStandard);
  margin-bottom: calc(0.5 * var(--gapStandard));
}

.card-questionNumber {
  color: var(--colorBase);
  align-self: center;
  font-size: 1rem;
}

.card-bookmark {
  height: 3rem;
  margin-top: -10px;
  cursor: pointer;
  box-shadow: red 0 0 2px 2p;
}

.card-bookmark-hide {
  display: none;
}

.card-textBox {
  background-color: var(--colorTextBox);
  border-radius: var(--borderRadius);
}

.card-questionBox,
.card-answerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--gapStandard) var(--gapStandard) var(--gapStandard)
    var(--gapStandard);
  margin: 0 calc(1 * var(--gapStandard));
}
.card-answerBox,
.card-tagBox {
  margin-bottom: var(--gapStandard);
}

.card-questionBox {
  margin-bottom: calc(2 * var(--gapStandard));
}

.card-questionText {
  margin-bottom: var(--gapStandard);
  font-size: 0.9rem;
}

.card-answerBox {
  background-color: var(--colorTextBox);
}

.card-answerBox-active {
  transition: 1s ease-out;
}

.card-answerText {
  color: var(--colorHighlight);
}

.card-answerText-hidden {
  visibility: hidden;
}

.card-button {
  padding: calc(0.5 * var(--gapStandard)) calc(2 * var(--gapStandard));
  margin-bottom: calc(-2 * var(--gapStandard));
  background-color: var(--colorTextBox);
  border: none;
  box-shadow: var(--colorDark) 0 0 10px 0;
  border-radius: var(--borderRadius);
  cursor: pointer;
}

.card-button-textHidden {
  display: none;
}

.card-tagBox {
  display: flex;
  gap: calc(0.5 * var(--gapStandard));
  margin: 0 calc(1 * var(--gapStandard)) var(--gapStandard)
    calc(1 * var(--gapStandard));
  flex-wrap: wrap;
}

.card-tag {
  background-color: var(--colorTextBox);
  padding: calc(0.25 * var(--gapStandard)) calc(0.5 * var(--gapStandard));
  font-size: 0.7rem;
  color: var(--colorHighlight);
  border-radius: calc(0.5 * var(--borderRadius));
}
