footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--colorBase);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  box-shadow: var(--colorDark) 0 -3px 20px 2px;
}

.footer-link {
  box-shadow: white 0 5px 10px 1px inset, var(--colorDark) 0 0 10px 5px inset,
    var(--colorDark) 0 3px 7px 0;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  padding: 5px 0;
  cursor: pointer;
}

.footer-icon {
  height: 2.3rem;
  cursor: pointer;
  opacity: 0.5;
}

.footer-activePage {
  box-shadow: white 0 5px 10px 1px inset,
    var(--colorHighlight) 0 0 10px 5px inset,
    var(--colorHighlight) 0 0 12px 5px inset, var(--colorDark) 0 3px 7px 0;
}
