footer {
  display: flex;
  position: sticky;
  bottom: 0;
  background-color: var(--colorBase);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  box-shadow: var(--shadowFooter);
  height: 4rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-link {
  box-shadow: white 0 5px 10px 1px inset, var(--colorDark) 0 0 10px 5px inset,
    var(--colorDark) 0 3px 7px 0;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
  background-color: lightgray;
}

.footer-icon {
  height: 90%;
  cursor: pointer;
  opacity: 0.8;
}

.footer-activePage {
  box-shadow: white 0 5px 10px 1px inset,
    var(--colorHighlight) 0 0 10px 5px inset,
    var(--colorHighlight) 0 0 12px 5px inset, var(--colorDark) 0 3px 7px 0;
}
