header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 4rem;
  background-color: var(--colorBase);
  font-size: 1.5rem;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
  text-shadow: var(--colorHighlight) 0 0 15px;
  box-shadow: var(--colorDark) 0 3px 20px 2px;
}
