.profile-header {
  display: flex;
  justify-content: center;
  color: var(--colorHighlight);
}

.statistics,
.settings {
  margin-top: calc(1.5 * var(--gapStandard));
  margin-bottom: calc(1.5 * var(--gapStandard));
}

.sliderBox {
  max-width: 20rem;
  min-width: 13rem;
  height: 2.2rem;
  /* margin: 0.5rem auto 0 auto; */
  background-color: white;
  box-shadow: var(--colorDark) 0 0 10px 2px, inset var(--colorDark) 0 1px 0 0,
    inset var(--colorDark) 0 -1px 0 0;
  border-radius: var(--borderRadius);
  display: flex;
  align-items: center;
  position: relative;
}

.sliderBox-element {
  width: 33%;
  text-decoration: none;
  color: rgb(21, 21, 21);
}

.slider {
  position: absolute;
  left: var(--left);
  width: 34%;
  height: 100%;
  border-radius: var(--borderRadius);
  box-shadow: inset var(--colorHighlight) 0 0 10px 3px,
    rgba(255, 255, 255, 0.612) 0 0 15px 5px inset, white 0 0 10px 2px;
  transition: 0.3s ease-out;
}

.profile-main {
  margin-top: 1rem;
}

h3 {
  color: var(--colorHighlight);
  margin-bottom: var(--gapStandard);
}

.setMode-headline {
  font-weight: normal;
  margin-bottom: var(--gapStandard);
}
