.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  height: 7rem;
}

.profile-headerHeadline {
  color: var(--colorHighlight);
}

.statistics {
  margin: var(--gapStandard) 0;
  background-color: var(--colorTextBox);
}

.statistics,
.settings {
  padding: 1rem;
  margin: 1rem;
}

.sliderBox {
  width: 100%;
  max-width: 20rem;
  height: 2rem;
  margin: 0.5rem auto 0 auto;
  background-color: white;
  box-shadow: var(--colorDark) 0 0 10px 2px, inset var(--colorDark) 0 1px 0 0,
    inset var(--colorDark) 0 -1px 0 0;
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.sliderBox-element {
  width: 34%;
  text-align: center;
  text-decoration: none;
  color: var(--colorHighlight);
}

.slider {
  position: absolute;
  left: var(--left);
  width: 33%;
  height: 100%;
  border-radius: var(--borderRadius);
  box-shadow: inset var(--colorHighlight) 0 0 10px 3px,
    rgba(255, 255, 255, 0.612) 0 0 15px 5px inset, white 0 0 10px 2px;
  transition: left 0.5s;
}

.profile-main {
  margin-top: 1rem;
}

h3 {
  font-size: 1.1rem;
  color: var(--colorHighlight);
  margin-bottom: var(--gapStandard);
}

.setMode-headline {
  font-weight: normal;
  margin-bottom: 0.8rem;
}
