@media screen and (min-width: 600px) and (max-width: 1199px) {
  .cardStyle {
    width: 70vw;
  }

  main {
    align-items: center;
  }
  header,
  footer {
    height: 6rem;
  }
  .header--title {
    font-size: 3.5rem;
  }

  .footer--link {
    height: 5rem;
    width: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .main--pageWithQuizcards {
    width: 80vw;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  body {
    display: flex;
    flex-direction: column;
  }
}
