.card {
  border-radius: var(--borderRadius);
  margin-bottom: calc(1.5 * var(--gapStandard));
  padding-bottom: var(--gapStandard);
  background-color: var(--colorHighlight);
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gapStandard);
  margin-bottom: calc(0.5 * var(--gapStandard));
}

.card-questionNumber {
  align-self: center;
  color: var(--colorPrimary);
}

.card-bookmarkImg {
  height: 3rem;
  margin-top: -5px;
  cursor: pointer;
}

.card-bookmarkImgActive {
  display: none;
}

.card--isBookmarked .card-bookmarkImgInactive {
  display: none;
}

.card--isBookmarked .card-bookmarkImgActive {
  display: initial;
}

.cardBox {
  background-color: var(--colorCardBox);
  border-radius: var(--borderRadius);
  padding: calc(1.5 * var(--gapStandard)) var(--gapStandard);
  margin: 0 calc(1.5 * var(--gapStandard));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: var(--boxShadow);
}

.cardAnswerBox,
.cardTag {
  margin-bottom: var(--gapStandard);
  color: var(--colorHighlight);
}

.cardBoxQuestion {
  margin-bottom: calc(2 * var(--gapStandard));
}

.cardQuestion {
  margin-bottom: var(--gapStandard);
}

.cardAnswer {
  font-size: 1.5rem;
}

.cardButton {
  padding: calc(0.5 * var(--gapStandard)) calc(2 * var(--gapStandard));
  margin-bottom: calc(-1.8 * var(--gapStandard));
  background-color: var(--colorCardBox);
  border: none;
  box-shadow: var(--colorSecondary) 0 0 10px 0, var(--boxShadow);
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: 0.05s;
  min-width: 10rem;
  transform: rotate(-1.5deg);
}
.cardButton:active {
  transform: rotate(1.5deg);
}

.cardWrapTags {
  display: flex;
  gap: calc(0.5 * var(--gapStandard));
  margin: 0 calc(1.5 * var(--gapStandard));
  flex-wrap: wrap;
}

.cardTag {
  background-color: var(--colorCardBox);
  padding: calc(0.25 * var(--gapStandard)) calc(0.5 * var(--gapStandard));
  font-size: 0.7rem;
  border-radius: calc(0.5 * var(--borderRadius));
  box-shadow: var(--boxShadow);
}
