footer {
  display: flex;
  position: sticky;
  bottom: 0;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  height: var(--heightHeaderFooter);
  background-color: var(--colorPrimary);
  box-shadow: var(--shadowFooter);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-link {
  box-shadow: white 0 5px 10px 1px inset,
    var(--colorSecondary) 0 0 10px 5px inset, var(--colorSecondary) 0 3px 7px 0;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
}

.footer-icon {
  height: 90%;
  cursor: pointer;
  opacity: 0.8;
}

body[data-currentpage="home"] .footer-link-home,
body[data-currentpage="bookmarks"] .footer-link-bookmarks,
body[data-currentpage="profile"] .footer-link-profile {
  box-shadow: white 0 5px 10px 1px inset,
    var(--colorHighlight) 0 0 10px 5px inset,
    var(--colorHighlight) 0 0 12px 5px inset, var(--colorSecondary) 0 3px 7px 0;
}
